node_red_flow.json
[{"id":"2f011b9.edc6f64","type":"tab","label":"Smart Bracelets","disabled":false,"info":""},{"id":"7faf7654.79017","type":"inject","z":"2f011b9.edc6f64","name":"Start","topic":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["3ab825d5.edb472"]]},{"id":"3ab825d5.edb472","type":"exec","z":"2f011b9.edc6f64","command":"python RunSimulationScript.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Run Simulation","x":300,"y":300,"wires":[["7f02aff9.0248"],["60f302c0.f17a3c"],[]]},{"id":"a1aa346d.163f78","type":"ui_text","z":"2f011b9.edc6f64","group":"db10cf9f.cd048","order":0,"width":0,"height":0,"name":"Dashboard","label":"Output: ","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":220,"wires":[]},{"id":"1a1b8de4.347a1a","type":"debug","z":"2f011b9.edc6f64","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":300,"wires":[]},{"id":"60f302c0.f17a3c","type":"debug","z":"2f011b9.edc6f64","name":"Errors","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":340,"wires":[]},{"id":"3d44a077.800b6","type":"function","z":"2f011b9.edc6f64","name":"Filter Alert","func":"if(msg.payload.includes(\"ALERT\"))\n    return msg;","outputs":1,"noerr":0,"x":770,"y":260,"wires":[["1a1b8de4.347a1a","a1aa346d.163f78"]]},{"id":"7f02aff9.0248","type":"split","z":"2f011b9.edc6f64","name":"Split row by row","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":560,"y":260,"wires":[["3d44a077.800b6"]]},{"id":"db10cf9f.cd048","type":"ui_group","z":"","name":"Default","tab":"5afef056.4539","order":1,"disp":true,"width":"12","collapse":true},{"id":"5afef056.4539","type":"ui_tab","z":"","name":"Smart Bracelets","icon":"dashboard"}]
